@model List<UserShoppingList>

<h1>My Shopping Lists</h1>

<div class="d-flex justify-content-between mb-3">
    <button id="createListBtn" class="btn btn-success">Create List</button>
    <a href="~/User/Login" class="btn btn-secondary">Back to Login</a>
    <a href="~/Products/Shop" class="btn btn-secondary">See Products</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var list in Model)
        {
            <tr>
                <td>
                    <div class="card mb-3">
                        <div class="card-body">
                            <h5 class="card-title">@list.Name</h5>
                            <!-- Diğer alışveriş listesi bilgileri -->
                        </div>
                    </div>
                </td>
                <td>
                    <form method="post" asp-action="DeleteList">
                        <input type="hidden" name="listId" value="@list.Id" />
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                    <form method="post" asp-action="ShowList">
                        <input type="hidden" name="id" value="@list.Id" />
                        <button type="submit" class="btn btn-warning">Show</button>
                    </form>
                </td>
            </tr>
            
        }
    </tbody>
</table>

<!-- Yeni Liste Oluşturma Popup -->
<div class="modal fade" id="createListPopup" tabindex="-1" role="dialog" aria-labelledby="createListPopupLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createListPopupLabel">Create New List</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" asp-action="CreateList">
                    <div class="form-group">
                        <label for="listName">List Name:</label>
                        <input type="text" class="form-control" id="listName" name="listName" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Create</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function () {
        $('#createListBtn').click(function () {
            $('#createListPopup').modal('show');
        });
    });
</script>
